# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit logs and temporary files
*.log
.streamlit/

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/


